<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Movies DB</h1>
        <% for (const doc of documents) { %>
        <article>
            <header>huidhrifhiehde</header>
            <img src="" alt="">
            <footer>año de lanzamiento</footer>
        </article>
        <% } %>
    </main>
</body>
</html>