<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Movies DB</h1>
        <section class="container">
            <!--Formulario: 1. por ahora buscar solo por titulo (nombrar del mismo modo el atributo 'name').
             El endpoint donde debe enviar la info va a ser de momento "/" pero además se añadirá la query (/?title="jumanji")-->
            <form action="/">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">
                <input type="submit" value="Search">
            </form>
        </section>
        <% for (const doc of documents) { %>
        <article>
            <header><%= doc.title %> </header>
            <img src="<%= doc.poster %>" alt="">
            <footer>Year of release: <%= doc.year %></footer>
        </article>
        <% } %>
    </main>
</body>
</html>